body {
    background-color: lightgray;
    text-align: center;
    user-select:none ;
}

table {
    margin: auto;
}

.cell {
    width: 40px;
    height:40px;
    text-align: center;
    font-size:0.7em;
    border: 2px solid blue;
    background-color: darkslategray;
    color:darkslategray;
}



.shown-cell{
    width: 40px;
    height:40px;
    text-align: center;
    font-size:1.4em;
    border: 2px solid blue;
    background-color: gray;
    color: black;

}

h1{
    text-align: center;
}



.levels {
    text-align: center;
}

.time .count {
    font-size: 30px;
}