@import url(../lib/bs4/css/bootstrap.min.css);


body{
    background-color: lightgrey;
    text-align: center;
}

.container{
    margin-top: 20%;
}

h1{
    color: beige;
    font-family: sans-serif;
    text-align: center;
    background-color: #32383e;
    border-radius: 50px;
}

.btn{
    padding: 0.2rem;
    font-size: 1rem;
    margin: 5px;
}

.book-table{
    text-align: center;
}

/* .book-details{
    display: none;
} */

.page-link{
    color: beige;
    background-color:  #32383e;
}
.prev{
    border-top-left-radius: 2.25rem;
    border-bottom-left-radius: 2.25rem;
    }
                
.next{
    border-top-right-radius: 2.25rem;
    border-bottom-right-radius: 2.25rem;
    }

.modal-header{
    display: block;
}

.modal-footer{
    display: block;
}
img{
    max-width: 200px;
    
}

.btn-secondary{
    width: 30px;
}